@use 'src/styles/vars';

.app {
  width:100%;
  margin: 0 auto;
  background-color: vars.$light;
  position: relative;
  padding: 15px;

  .main{
    display: flex;
  }
  .content_messages{
    width: 75%;
  }
}

@media screen and ( max-width: 640px) {
  .app{
    width: auto;
  }
}
