@use 'src/styles/vars';

.historique {
  width: 100%;
  
  .historique_conversations li.is_active{
    //color: vars.$primary;
  }
  .historique_messages{
    background: vars.$primary;
    padding: 20px;
    margin: 30px;
  }
  li{
    margin: 15px 0;
    cursor: pointer;
  }
}
