@use 'src/styles/vars';

.message {
  margin-bottom: 2rem;
  margin-left: 0;
  position: relative;
  margin: 15px;

  &__author {
    margin-bottom: 1rem;
    padding-left: 40px;
  }
  &__author:first-letter {
    text-transform: uppercase;
  }
  &__time{
    font-style: italic;
    font-size: 0.8em;
    margin-left: 5px;
  }
  
  &__content {
    display: inline-block;
    background-color:vars.$primary;
    margin-top: 0.5rem;
    padding: 1rem 2rem;
    border-radius: 25px;
    color: vars.$messageContent;
  }
}
